body {
    background-image: url(background.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* ol {
    color: red;
} */
.reddit{
    margin-right:16px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #ff4500;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform-duration: 0.3s;
}
.reddit:hover,.reddit:focus, .reddit:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.yt{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #88c0cf;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 7px solid #917C6F;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform-duration: 0.3s;
}
.yt:hover,.yt:focus, .yt:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.ig{
    margin-left:16px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #F1763D;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform-duration: 0.3s;
}
.ig:hover,.ig:focus, .ig:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}